<!DOCTYPE html>
<html>
<head>
  <title>Treasure JS Proof of Concept</title>
  <link href="css/application.css" media="all" rel="stylesheet" type="text/css">
  <link href="select2/select2.css" media="all" rel="stylesheet" type="text/css">
  <meta content="authenticity_token" name="csrf-param">
  <meta content="JeN23VMeqzt9GSvOwBWhr3Zo+qkV7gg89R7Fd2Qkvpo=" name="csrf-token">
  <meta name="viewport" content="width=320, initial-scale=1.0, maximum-scale=1.0">

  <script type="text/javascript" src='jquery/jquery.js'></script>
  <script type="text/javascript" src='select2/select2.js'></script>
  <script type="text/javascript" src='node_modules/backbone/node_modules/underscore/underscore.js'></script>
  <script type="text/javascript" src='node_modules/backbone/backbone.js'></script>
  <script type="text/javascript" src='node_modules/backbone.localstorage/backbone.localStorage.js'></script>
  <script type="text/javascript" src='backbone.autocomplete.js'></script>
</head>
<body>
  <h1>Treasure JS</h1>
  <form id="autocomplete-remote">
    <input id="select2" autocomplete="off">
  </form>
  <div id="results">
  </div>
</body>

<script type="text/template" id="results-template">
<% _.each( vehicles, function( thisVehicle){  %>
  <div>
  <div><%= thisVehicle.description() %></div>
  <div><%= thisVehicle.get('price') %></div>
  </div>
  <% }) %>
</script>

<script type="text/javascript">

var VehicleModel = Backbone.Model.extend({
  description: function() {
    return [this.get('make'), this.get('model'), this.get('variant')].join(" ")
  }
});

var ResultsView = Backbone.View.extend({
  template: _.template($('#results-template').html()),
  render: function() {
    $('#results').html(this.template({vehicles: vehicles.toArray()}));
  }
});

var VehicleCollection = Backbone.Collection.extend({
  model: VehicleModel,

  urlRoot: 'http://jgmacbookpro.local:3000/api/v1/searches.json',
  query: function() {
    return $('#select2').select2("val").join("||");
  },

  url: function () {
    return 'http://jgmacbookpro.local:3000/api/v1/searches.json?q=' + this.query();
  }
});

var vehicles = new VehicleCollection();
var results = new ResultsView();

$(document).ready(function() {
  $('#select2').select2({
    multiple: true,
    minimumInputLength: 0,
    closeOnSelect: true,
    openOnEnter: false,
    width: "off",
    ajax: { 
      url: 'http://jgmacbookpro.local:3000/api/v1/terms.json',
      data: function (term, page) {
        return {
          q: term,
          terms: $('#select2').select2("val")
        };
      },
      results: function (data, page) { 
        return {results: data};
      }
    }
  });

  $('#select2').on("change", function(e) { 
    $('#s2id_autogen1').val("");
    $('#select2').select2("open");
  });

  $('#s2id_autogen1').on("focus", function(e) {
    $(this).hide();
    webkitRequestAnimationFrame(function() { 
      $(document).scrollTop(55);
      $(this).show();
    }.bind(this));
  });
  
  $('form#autocomplete-remote').submit(function(e) {
    vehicles.fetch({
      success: function(collection, response) {
        results.render();
      }
    });
    e.preventDefault();
  });
});

</script>
</html>
