<!DOCTYPE html>
<html>
<head>
  <title>Treasure JS Proof of Concept</title>
  <link href="css/application.css?body=1" media="all" rel="stylesheet" type="text/css">
  <link href="css/chosen.css?body=1" media="all" rel="stylesheet" type="text/css">
  <meta content="authenticity_token" name="csrf-param">
  <meta content="JeN23VMeqzt9GSvOwBWhr3Zo+qkV7gg89R7Fd2Qkvpo=" name="csrf-token">
</head>
<body>

  <h1>Treasure JS Proof of Concept</h1>

  <select id="query" multiple="multiple" name="query[]"></select>

  <div id="results">
  </div>


</body>
<script type="text/javascript" src='jquery/jquery.js'></script>
<script type="text/javascript" src='chosen/chosen.jquery.js'></script>
<script type="text/javascript" src='node_modules/backbone/node_modules/underscore/underscore.js'></script>
<script type="text/javascript" src='node_modules/backbone/backbone.js'></script>
<script type="text/javascript" src='node_modules/url-template/lib/url-template.js'></script>
<script type="text/javascript" src='node_modules/backbone.localstorage/backbone.localStorage.js'></script>

<script type="text/template" id="condition-group-template">
<% _.each( groups, function( thisGroup){  %>
  <optgroup label="<%= thisGroup[0].get('group') %>">
  <% _.each( thisGroup, function( thisItem ){ %>
    <option value="<%= thisItem.get('id') %>"<%= thisItem.selectedAttribute() %>><%= thisItem.get('text') %></option>
    <% }) %>
  </optgroup>
  <% }) %>
</script>

<script type="text/template" id="selected-conditions-template">
<h3>Selected Criteria</h3>
<% _.each( conditions, function( thisCondition){  %>
  <div><span><%= thisCondition.get('group') %></span> - <span><%= thisCondition.get('text') %></span></div>
  <% }) %>
</script>

<script type="text/template" id="results-template">
<h3>Results</h3>
<% _.each( schools, function( thisSchool){  %>
  <div>
  <a href="<%= thisSchool.get('item') %>"><%= thisSchool.get('name') %></a>
  </div>
  <% }) %>
</script>

<script type="text/javascript">
$( document ).ready(function() {

  // Config
  var paramTemplate = urltemplate.parse(' ?___{key} rdfs:label "{value}" . ?item {namespace}:{key} ?___{key} .');
  var tupleTemplate = urltemplate.parse(' {object_1} {relationship} {object_2} . ');
  var prefixes = 'PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX school: <http://education.data.gov.uk/def/school/>';
  var select = ' SELECT ?name ?item';
  var where  = ' WHERE { ?item rdf:type school:School . ?item rdfs:label ?name .';
  var limit  = ' } OFFSET 0 LIMIT 30';
  var base_url = 'http://education.data.gov.uk/sparql/education/query?query=';

  var app = app || {};

  app.Condition = Backbone.Model.extend({
    defaults: function() {
      return {
        group: null,
        selected: false,
        selectable: true
      };
    },
    select: function() {
      this.save({selected: true});
    },
    deselect: function() {
      this.save({selected: false});
    },
    selectedAttribute: function() {
      if (this.get('selected')) {
        return " selected";
      } else {
        return "";
      }
    }
  });

  var ConditionList = Backbone.Collection.extend({
    model: app.Condition,
    localStorage: new Backbone.LocalStorage("conditions-backbone"),
    selectable: function() {
      return this.filter(function(condition) {
        return condition.get('selectable');
      });
    },
    selected: function() {
      return this.where({selected: true});
    },
    selectedCount: function() {
      return selected().length;
    },
    allowGroup: function(group) {
      this.forEach(function(condition) {
        if(condition.get('group') == group || condition.get('selected')) {
          condition.set('selectable', true);
        } else {
          condition.set('selectable', false)
        };
        condition.save();
      });
    },
    select: function(id) {
      selectedCondition = app.Conditions.findWhere({id: id});
      selectedCondition.select();
      selectedGroup = selectedCondition.get('group');
      this.allowGroup(this.nextGroupAllowed(selectedGroup));
    },
    nextGroupAllowed: function(selectedGroup) {
        if (selectedGroup == "Phase") {
          return "Location";
        } else if (selectedGroup == "Location") {
          return "Type";
        } else if (selectedGroup == "Type") {
          return "";
        } else {
          return "";
        }
    },
    deselect: function (id) {
      deselectedCondition = app.Conditions.findWhere({id: id});
      deselectedCondition.deselect();
      deselectedGroup = deselectedCondition.get('group');
      this.allowGroup(deselectedGroup);
    },
  });

  app.Conditions = new ConditionList();

  app.ConditionGroupView = Backbone.View.extend({
    template: _.template($("#condition-group-template").html()),

    initialize: function () {
      this.listenTo(app.Conditions, 'add', this.add);
    },

    add: function(condition) {
      condition.save();
    },

    render: function() {
      var selectable = app.Conditions.selectable();
      var groups = _.groupBy(selectable, function(object) { return object.get('group') });
      this.el = this.template({groups: groups});
      $('#query').children().remove();
      $('#query').append(this.el);
      $('#query').trigger('chosen:updated');
      return this;
    },
  });

  app.SelectedConditionsGroupView = Backbone.View.extend({
    template: _.template($("#selected-conditions-template").html()),
    conditions: function() {
      return app.Conditions.where({selected: true});
    },
    render: function() {
      $('#results').html(this.template({conditions: this.conditions}));
    },
  });

  var DistrictAdministrativeList = Backbone.Collection.extend({
    url: function() {
      encodedPrefixes = encodeURIComponent(prefixes)
      encodedSelect   = encodeURIComponent(' SELECT DISTINCT ?label ')
      encodedWhere    = encodeURIComponent(' WHERE { ');
      encodedNode     = tupleTemplate.expand({
        object_1: '?school', 
        relationship: '<http://education.data.gov.uk/def/school/districtAdministrative>', 
        object_2: '?node'
      });
      encodedLabel    = tupleTemplate.expand({
        object_1: '?node', 
        relationship: 'rdfs:label', 
        object_2: '?label'
      });
      encodedFormat   = '&output=json&stylesheet=xml-to-html.xsl&force-accept=text%2Fplain';

      // return base_url + encodedPrefixes + encodedSelect + encodedWhere + encodedNode + encodedLabel + encodedFormat;
      return "http://education.data.gov.uk/sparql/education/query?query=PREFIX+rdfs%3A+%3Chttp%3A%2F%2Fwww.w3.org%2F2000%2F01%2Frdf-schema%23%3E%0D%0A%0D%0ASELECT+DISTINCT+%3Flabel+WHERE+%7B%0D%0A++%3Fschool+%3Chttp%3A%2F%2Feducation.data.gov.uk%2Fdef%2Fschool%2FdistrictAdministrative%3E+%3Fnode+.%0D%0A++%3Fnode+rdfs%3Alabel+%3Flabel+.%0D%0A%7D%0D%0A&output=json&stylesheet=xml-to-html.xsl&force-accept=text%2Fplain";
    },
    parse: function (raw_response) {
      data = raw_response.results.bindings.map(function(result) { 
        return {parameter: "districtAdministrative", group: "Location", text:result.label.value, value:result.label.value}; 
      });
      return data;
    },
    update: function() {
      this.fetch({ 
        dataType: "jsonp",
        success: (function(model, response, options) {
          console.log("Success");
          districtAdministrativePossibles = model.models.map(function(thisModel) { return thisModel.attributes });
          app.Conditions.add(districtAdministrativePossibles);
          app.conditionsGroupView.render();
        }),
        error: (function(model, response, options) {
          console.log("Error");
        }),
        complete: (function(data) {
          console.log("Complete");
        })
      });
    }
  });
  app.districtAdministratives = new DistrictAdministrativeList();

  var SchoolList = Backbone.Collection.extend({
    url: function() {
      selectedConditions = app.Conditions.where({selected: true});
      encodedPrefixes = encodeURIComponent(prefixes)
      encodedSelect   = encodeURIComponent(select)
      encodedWhere    = encodeURIComponent(where);
      encodedLimit    = encodeURIComponent(limit);
      encodedSearchParameters = selectedConditions.map(function(condition) { 
        return paramTemplate.expand({
          key: condition.get('parameter'), 
          namespace: "school", 
          value: condition.get('value')
        });
      }).join(" ");
      encodedFormat   = '&output=json&stylesheet=xml-to-html.xsl&force-accept=text%2Fplain';

      return base_url + encodedPrefixes + encodedSelect + encodedWhere + encodedSearchParameters + encodedLimit + encodedFormat;
    },
    parse: function (raw_response) {
      console.log("just parsed");
      data = raw_response.results.bindings.map(function(result) { 
        return {"item":result.item.value, "name":result.name.value}; 
      });
      return data;
    },
    update: function() {
      this.fetch({ 
        dataType: "jsonp",
        success: (function(data) {
          app.schoolsView.render();
        }),
        error: (function(data) {
          console.log("Error");
        }),
        complete: (function(data) {
          console.log("Complete");
        })
      });
    }
  });
  app.schools = new SchoolList();

  SchoolsView = Backbone.View.extend({
    template: _.template($('#results-template').html()),
    render: function() {
      $('#results').html(this.template({schools: app.schools.toArray()}));
    }
  })

  app.conditionsGroupView = new app.ConditionGroupView(); // Start the conditions view
  app.selectedConditionsView = new app.SelectedConditionsGroupView();
  app.schoolsView = new SchoolsView();

  app.Conditions.add([
    {parameter: "phaseOfEducation", group: "Phase", text: "Primary", value: "Primary"},
    {parameter: "phaseOfEducation", group: "Phase", text: "Secondary", value: "Secondary"},
    {parameter: "typeOfEstablishment", group: "Type", text: "Independent", value: "Other Independent School"},
    {parameter: "typeOfEstablishment", group: "Type", text: "Foundation", value: "Foundation School"}
    ]);

  app.districtAdministratives.update();
  // app.conditionsGroupView.render();

  $('#query').chosen();
  app.schools.update();

  $('#query').on('change', function(evt, params) {
    conditionWasSelected = params.selected != null;
    if (conditionWasSelected) {
      app.Conditions.select(params.selected);
    } else {
      app.Conditions.deselect(params.deselected);
    };
    app.conditionsGroupView.render();
    
    app.schools.update();
  });

});


</script>
</html>
